.kontener{
	width:800px;
	margin:50px auto;
	
	
	
}
.knefel{
	width:200px;
	height:500px;
	background:#444;
	box-shadow: inset 0px 0px 3px 1px #777;
	float:left;
	transition:all 3s ease;
	border-radius:0 0 5px 5px;
}
.knefel:hover {
	background:#666;
	transition:all 1s ease;
	height:520px;
}