body {
font-family: 'Lato', sans-serif;
/*font-family: 'Italianno', cursive;*/
}
.color{
	color:#ff4 !important;
}
.bgcolor{
	background-color:#0f4 !important;
}
.h3{
	margin:60px 0px;
	text-align:center;
	position:relative;
	z-index:1;
}
.h3In1{
	font-size:36px;
	color:#666;
	
}
.h3In2{
	font-size:80px;
	color:#ccc;
	font-family: 'Italianno', cursive;
	position:absolute;
	top:-25px;
	left:0;
	right:0;
	z-index:-1;
}
/* START header*/
.header{
	height:100vh;
	background:url('../img/bg.jpg') no-repeat center center fixed;
	background-size:cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.headerLine1 {
	text-align: center;
	color:#fff;
	font-size:64px;
	font-weight:bold;
	text-shadow:1px 1px 1px #222;
}
.headerLine2 {
	text-align: center;
	font-size:22px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #222;
	letter-spacing:2px;
	font-weight:bold;
	
}
.headerImg{
	width:200px;
	height:200px;
	background:#000;
	border-radius:50%;
	box-shadow:0px 0px 5px 0px #222;
	background:url('../img/1.jpg') center top no-repeat;
	background-size:cover;
	
}
/* END header*/
/* START about */
.aboutText{
	text-align:justify;
	line-height:1.8;
	color:#444;
	font-size:16px;
}
.aboutText span{
	font-size:20px;
	font-weight:bold;
}
/* END about */
/* START portfolio */
.portfolio{
}
.portfolioSlider{
	height:400px;
	width:100%;
	background:#f0f;
	overflow:hidden;
}
/* END portfolio */

/* END about */
