.box{
	border:1px solid #000;
	position:relative;
	width:200px;
	height:500px;
	margin:20px;
	float:left;
}
.ball1, .ball2{
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	left:45%;
	-webkit-border-radius:55px;
	border-radius:55px;
	background:#F92;
	-webkit-transition:all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}
.box:hover .ball1{
	top:480px;
}
.box .ball2{
	animation:dupa 8s 2;
	100%{top:0px;left:45%;}
}
@keyframes dupa{
	0%{top:0px;left:45%;}
	15%{top:25%;left:0;}
	30%{top:75%;left:0;}
	50%{top:480px;left:45%;}
	100%{top:0px;left:45%;}
}